  services:
    postgres:
      image: postgres:18-alpine
      container_name: comet-postgres
      restart: unless-stopped
      env_file: .env
      command:
        - "postgres"
        - "-c"
        - "shared_buffers=128MB"
        - "-c"
        - "effective_cache_size=384MB"
        - "-c"
        - "maintenance_work_mem=64MB"
        - "-c"
        - "checkpoint_completion_target=0.9"
        - "-c"
        - "wal_buffers=8MB"
        - "-c"
        - "random_page_cost=1.1"
        - "-c"
        - "effective_io_concurrency=200"
        - "-c"
        - "work_mem=8MB"
        - "-c"
        - "max_connections=100"
      volumes:
        - postgres_data:/var/lib/postgresql/18/docker
      networks:
        - proxy_net
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
        interval: 10s
        timeout: 5s
        retries: 5

    jackett:
      image: lscr.io/linuxserver/jackett:latest
      container_name: jackett
      env_file: .env
      volumes:
        - jackett_config:/config
        - /dev/null:/downloads
      ports:
        - "9117:9117"
      restart: unless-stopped
      networks:
        - proxy_net

    flaresolverr:
      image: ghcr.io/flaresolverr/flaresolverr:latest
      container_name: flaresolverr
      env_file: .env
      restart: unless-stopped
      networks:
        - proxy_net

    comet:
      image: g0ldyy/comet:latest
      container_name: comet
      restart: unless-stopped
      env_file: .env
      volumes:
        - comet_data:/app/data
      ports:
       - "8000:8000"
       - "8765:8765"
      
      depends_on:
        postgres:
          condition: service_healthy
        jackett:
          condition: service_started
      networks:
        - proxy_net
      healthcheck:
        test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:8000/health"]
        interval: 30s
        timeout: 10s
        retries: 3

  volumes:
    postgres_data:
    comet_data:
    jackett_config:

  networks:
    proxy_net:
      external: false